/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: arial;  /* C356 - tried national-light but seemed to have serifs */
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;  
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* @group ----- Generic ----- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px Arial, sans-serif;  /* c356 - was 12px */
  line-height: 18px;
  color: #373a36;  /*C356 tried 373a36*/ 
  background: #EFEDE7;  /* C356 - was fff or efede7 */ /* Michael changed colour to #efede7*/
}

form, fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type=text], input[type=password], textarea {
  border: 1px solid #ccc;
  display: block;
}

/* -- Headings -- */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 18px;
}

h1, h2, h3 {
  font-weight: bold;   /* c356 - was normal */
  font-family: arial;  /* C356 tried national-extra-light */
  color: #000;   /*C356 was 015581 */
}

h1 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: .1em;
  word-break: break-word;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  color: #a6192e;   /*C356 was 015581 */
}

h4, h5 {
  font-size: 15px;
  line-height: 18px;
}

h4 {
  font-weight: bold;
}

h5 {
  font-style: italic;
}

h6 {
  color: #666;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

/* -- Misc Block elements -- */
p, ul, ol, dl {
  margin: 1.5em 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

/* -- Misc Inline elements -- */
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

abbr, acronym {
  border: none;
  font-style: normal;
}

blockquote {
  margin: 0 3em;
  font-style: italic;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

/* -- Tables -- */
table {
  width: 100%;
}

th, td {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0.75em 0;
}

th {
  border-width: 3px;
  text-align: left;
}

/* -- Links -- */
a:link {
  color: #000;  /*C356 was 369 */
}
a:visited {
  color: #000;  /*C356 was 369 */
}

a:hover, a:active {
  color: #ff8000;
}

img a {
  border: none;
}

/* @end */
/* @group ----- Header ----- */
header {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 85%;  /* c356 was 960 */
  padding: 1em 0;  /* c356 was 3em */
  position: relative;
  
}
header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  header {
    width: 100%;   /*c356 was 768 */
  }
}
@media only screen and (max-width: 767px) {
  header {
    width: 300px;  /*c356 was 300 */
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    width: 420px;  /*C356 was 420 */
  }
}

#header-image {
  position: relative;
  margin: 0 auto;
  padding: 0.5em; /* C356 */
  float: right; /* C356 */
  right: -2.5em;  /**C356*/
  top: 0.5em;  /**C356 */
  width: 17em;  /* C356 */
}
#header-image:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #header-image {
    width: 380px;   /*c356 was 768 */
  }
}
@media only screen and (max-width: 767px) {
  #header-image {
    width: 145px;  /*c356 was 300 */
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #header-image {
    width: 200px;  /*C356 was 420 */
  }
}
#header-image img {
  width: 16em;   /* C356 */
  float: right;  /* C356 */
  position: relative;  /* C356 */
  height: 6em;  /* C356 */
  vertical-align: top; /* C356 */
  margin-top: 0em;  /* C356 */
  border: solid #ccc;
  border-width: 0px 0px 0 0px; /* C356 */
}

/***C356 social ***/
#facebook a {
  float: right;
  margin: 0 0 0 0;
}    
.socialMedia
{
	float: right;
	margin: 0 0 18px;
}
.socialMedia a { margin: 0 0 0 9px; }

#site-title {
  float: left;
  width: 60%;
  font-weight: normal;
  font-family: 'Gill Sans MT', 'Gill Sans', sans-serif;
  color: #a6192e;    /*C356 was 015581 */
  padding: 0.5em 0 0.5em 0;  /*C356 padding added */
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: .2em;
  position: relative;
}
#site-title img {
  max-width: 100%;
  height: auto;
}

#site-title a {
  text-decoration: none;
}

#search-container {
  float: right;
  width: 40%;  /*C356 was 45 */
  position: relative;
  right: 6.2em;   /*C356 edited by Emal*/
  bottom: -0.2em;  /*C356 */
  font-size: 1.16667em;
  line-height: 1.28571em;
}
#search-container h2 {
  display: none;
}
#search-container input[type=text], #search-container button {
  border: 1px solid #373a36;  /*C356 was ccc */
  background: #d6d2c4;   /*C356 was fafafa */
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  height: 30px;
}
#search-container input[type=text] {
  padding: 3px;
  float: right; /**/
  width: 80%;
  behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#search-container button {
  background: #373a36;  /*C356 was 369 */
  color: white;
  position: absolute;
  border: 0;
  right: 0;
  top: 0;
  width: 30px;
  text-indent: -9999px;
}
#search-container button:after {
  font-family: "FontAwesome";
  content: "\f002";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.show-advanced.button {
  width: 30px;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #005177;
  position: absolute;
  text-decoration: none;
  text-indent: -9999px;
  behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.show-advanced.button:after {
  content: "\2026";
  display: block;
  text-indent: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  color: #fff;
  background: #373a36;   /*C356 was 369 */
  top: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 30px;
}

#advanced-form {
  display: none;
  background-color: #fff;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 1.5em 1em;
  *behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-form fieldset p {
  margin: 0;
}
#advanced-form > *:last-child {
  margin-bottom: 0em;
}
#advanced-form.open {
  display: block;
}

#advanced-form input[type="radio"] {
  margin-right: 5px;
}

#search-form fieldset fieldset {
  margin-bottom: 18px;
}

#search-container.with-advanced .button {
  right: 30px;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: .5em;
  border: 1px blue dashed;
  color: #ff8000;
}

/* @end */
/* @group ----- Navigation ----- */
.navigation {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.navigation a {
  text-decoration: none;
}
.navigation li {
  float: left;
}

#admin-bar ul {
  display: inline-block;
}

#primary-nav {
  display: block; /*was table, changed by John /* c356 for full width nav */
  clear: both;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 75%; /* was 960px * was 85% edited by Emel/
  z-index: 50;
  /*background-color:black;*/
  /* mega menu list */
  /* a top level navigation item in the mega menu */
  /* first descendant link within a top level navigation item */
  /* focus/open states of first descendant link within a top level 
     navigation item */
  /* open state of first descendant link within a top level 
     navigation item */
  /* sub-navigation panel */
  /* sub-navigation panel open state */
  /* list of items within sub-navigation panel */
  /* list item within sub-navigation panel */
}
#primary-nav:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #primary-nav {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  #primary-nav {
    width: 95%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #primary-nav {
    width: 100%;
  }
}
#primary-nav .nav-menu {
  display: block;  /**C356 - was block - change for fullwidth nav */ /*changed it back to block. JOHN */
  position: relative;
  list-style: none;
  margin: 0 0 0 -1px;  
  padding: 0 0 0 1px;
  z-index: 15;
}
#primary-nav li {
  display: table-cell;  /* C356 - added for fullwidth nav */
  list-style-type: none;
  margin: 0 0 -1px 0;   
  position: relative;
}
#primary-nav .navigation {
  position: relative;
  z-index: 100;
  overflow: visible;
}
#primary-nav .nav-item {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  float: left;
  position: relative;
  overflow: visible;
}
#primary-nav .nav-item:first-child > a {
  border-left: 1px solid #373a36;  /*C356 was ccc */
}
#primary-nav .nav-item > a {
  position: relative;
  display: inline-block;
  margin: 0 0 -1px 0; 
  border: 1px solid #373a36;  /* C356 was ccc */
  font-size: 15px;   /*C356*/
}
#primary-nav .nav-item:not(:first-child) > a {
  margin-left: -1px;
}
#primary-nav .nav-item > a:focus,
#primary-nav .nav-item > a.open {
  border: 1px solid #dedede;
}
#primary-nav .nav-item > a.open {
  background-color: #d6d2c4;  /*C356 was fafafa */
  z-index: 1;
}
#primary-nav .sub-nav {
  position: absolute;
  display: none;
  top: 3em;
  margin-top: 1px;
  padding: 0;
  border: 1px solid #dedede;
  background-color: #d6d2c4;  /*C356: prev fff or efede7 */
  font-size: 14px;   /*C356*/
}
#primary-nav .sub-nav.open {
  display: block;
  width: 260px;
}
#primary-nav .sub-nav.open li {
  width: 100%;
  border: 1px solid #000000;
}
#primary-nav .subnav a:hover + ul,
#primary-nav .subnav a:focus + ul {
  display: block;
  position: absolute;
  top: 3em;
  margin-top: 1px;
  z-index: 1000;
  -moz-box-shadow: #ccc 0 3px 5px;
  -webkit-box-shadow: #ccc 0 3px 5px;
  box-shadow: #ccc 0 3px 5px;
}
#primary-nav .sub-nav ul {
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#primary-nav .sub-nav ul a {
  margin-top: -0.75em;
  padding-left: 2.25em;
}
#primary-nav .sub-nav li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#primary-nav .sub-nav > li {
  border-color: #373a36;  /*c356 was ccc*/
  border-bottom-width: 0.08333em;
  border-bottom-style: solid;
  padding-bottom: -0.08333em;
}
#primary-nav .sub-nav a {
  width: 100%;
}
#primary-nav a {
  behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  display: block;  
  padding: 0.6em 4.4em 0.6em 2.4em;  /*C356 stretch */
  color: #fff;  /*C356 */
  background: #373a36;  /*C356 was fafafa */
}
#primary-nav a:hover,
#primary-nav a:focus,
#primary-nav li.active a {
  color: #000;  /* c356 */
  background-color: #d6d2c4;  /*C356 added */
  position: relative;
  z-index: 1;
}
#primary-nav [aria-haspopup="true"]:after {
  font-family: "FontAwesome";
  content: "\f0da";
  margin: -1px 0 0 .5em;
  display: inline-block;
}
#primary-nav [aria-haspopup="true"].open:after {
  content: "\f0d7";
}

#secondary-nav, .secondary-nav {
  margin-bottom: 1.5em;
  overflow: auto;
  border-bottom: 1px solid #373a36;  /*C356 was ccc */
  clear: both;
}
#secondary-nav li, .secondary-nav li {
  padding: 1.5em 0;
  margin-right: 20px;
}
#secondary-nav a, .secondary-nav a {
  color: #666;
}
#secondary-nav .active a, .secondary-nav .active a {
  background: #373a36; /*C356 was fff*/
  color: #d6d2c4;   /*C356*/
  font-weight: bold;
}
#secondary-nav .tags .nav-browse-all a, .secondary-nav .tags .nav-browse-all a {
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
}

#mobile-nav {
  display: none;
}

/* Pagination Classes */
.pagination {
  float: left;
  padding-left: 0;
  margin: 0 0 1.5em 0;
}
.pagination ul {
  margin-left: 0;
}
.pagination li {
  height: 3em;
  border: solid #e7e7e7;
  border-width: 1px 0 1px 1px;
  float: left;
  list-style-type: none;
}
.pagination li:last-of-type {
  border-right: 1px solid #e7e7e7;
}
.pagination a, .pagination form {
  text-decoration: none;
  padding: 0 10px;
  line-height: 36px;
  display: inline-block;
}

.page-input input[type=text] {
  border: 1px solid #ccc;
  text-align: right;
  width: 50px;
  margin-right: 5px;
  display: inline-block;
}

/* @end */
/* @group ----- Global selectors ----- */
#content {
  overflow: hidden;
  border: 0px solid #ccc; /* C356 mac1 */ 
 /*background:rgba(254, 255, 255,0.69) ;  /* C356 was efede7 */
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 85%;
  padding: 1.5em 5px; /* C356 mac1 */ 
  z-index: 0;
  margin-left:auto; /* */
  margin-right:auto;
}
#content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #content {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  #content {
    width: 95%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #content {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.image {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.image img {
  border: 0px solid #ccc; /* C356 mac1 */ 
  float: left;
  padding: 2px;
  width: auto;
  vertical-align: top;
  height: 100%;
}

.item-file img {
  max-width: 100%;
}

.record {
  clear: both;
  overflow: auto;
}

#sort-links + .item,
#sort-links + .collection,
nav + .exhibit {
  border-top: 1px solid #eee;
}

.item + .pagination-nav ul,
.collection + .pagination-nav ul,
.exhibit + .pagination-nav ul {
  margin-top: 1.5em;
}

/* @end */
/* @group ----- Home Page ----- */
#home #primary {
  float: left;
  float: left;
  display: inline;
  margin-left: 0; /* C356 mac1 */ 
  margin-right: 0; /* C356 mac1 */ 
  width: 49%; /* C356 mac1 */ 
  margin-left: 0;
  margin-right: 2%; /* C356 */
  padding-right: 0; /* C356 mac1 */ 
}
@media only screen and (max-width: 767px) {
  #home #primary {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #home #primary {
    width: 364px;
  }
}
@media only screen and (max-width: 767px) {
  #home #primary {
    width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #home #primary {
    width: 420px;
  }
}
#home #secondary {
  float: right;
  float: left;
  display: inline;
  margin-left: 0; /* C356 mac1 */ 
  margin-right: 0; /* C356 mac1 */ 
  width: 100%; /* C356 mac1 */ 
  margin-right: 0;
  padding-left: 0; /* C356 mac1 */ 
}
@media only screen and (max-width: 767px) {
  #home #secondary {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #home #secondary {
    width: 364px;
  }
}
@media only screen and (max-width: 767px) {
  #home #secondary {
    width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #home #secondary {
    width: 420px;
  }
}
#home #content h2 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

*C356*/
.jcarousel-control-next + a:link {
  color: #fff;
}
.jcarousel-control-next + a:visited {
  color: #fff;
}
.jcarousel-control-prev + a:visited {
  color: #fff;
}
.jcarousel-control-prev + a:link {
  color: #fff;
}

.featured,
#featured-exhibit {
  overflow: hidden;
  background: #CAD1BA; /* was #0000ff (by john) /* c356 was fff*/
  color: #fff;  /*C356 tried 373a36*/ 
  padding: 1.5em 20px;
  margin-bottom: 1.5em;
  height:296px;
}
#featured-item {
  overflow: hidden;
  background: #76232f;  /* c356 was fff*/
  color: #fff;  /*C356 tried 373a36*/ 
  padding: 1.5em 20px;
  margin-bottom: 1.5em;
  height:296px;
}

.featured h2,
#featured-exhibit h2 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: bold;  /* C356 */
}
.featured h3,
#featured-exhibit h3 {
  margin: 0 0 1em;
}

#featured-collection {
  background: #CAD1BA;  /* c356 was 000*/ /* Michael changed colout to #a6192e*/
  color: #fff;  /*C356 tried 373a36*/ 
  height:296px;
}
#featured-collection h2 {
  color: #000;  /*C356 tried 373a36*/ 
  font-weight: bold;  /* C356 */
}

#featured-exhibit a {
  color: #000;  /*C356 tried 373a36*/ 
}
#featured-collection a {
  color: #000;  /*C356 tried 373a36*/ 
}
#featured-item a {
  color: #000;  /*C356 tried 373a36*/ 
}

.featured img,
#featured-exhibit img {
  float: left;
  border: 1px solid #ccc;
  padding: 2px;
  height: 10.5em;
  width: auto;
  background-color: #d6001c;  /* c356 */
}

#recent-items .item {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em;
  background-color: #a6192e;  /*C356 tried 373a36*/ 
}
#recent-items .item .image {
  height: 6em;   /*c356*/
  padding: 0em;  /*c356*/
  margin-left: 1em;
}
#recent-items .item h3 {
  padding: 0.0em;  /*c356 */
  margin-left: 1em;
}
#recent-items h3 a {
  color: #fff;  /*C356 tried 373a36*/ 
}

.view-items-link {
  color: #373a36;  /*C356 tried 373a36*/ 
  margin-bottom: 0em;
}

/* @end */
/* @group ----- Items ----- */
.items #content {
  position: relative;
  padding: 0;
  width: 85%; /* changed from 960px John */
  padding: 1.0em 10px;  /*c356*/
}
.items #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .items #content {
    width: 768px;
  }
}
@media only screen and (max-width: 767px) {
  .items #content {
    width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .items #content {
    width: 420px;
  }
}

#next-item {
  float: right;
}

.item-description a.show {
  padding-left: 5px;
  display: inline;
}

.sort-label {
  display: inline-block;
}

#sort-links-list {
  display: inline-block;
  margin: 0.75em 0 0.75em 10px;
}

.desc a:after, .asc a:after {
  font-family: "FontAwesome";
  display: inline-block;
  height: 0;
  width: 0;
  text-decoration: underline;
  margin-right: 10px;
}

.desc a:after {
  content: "\00a0\f0d8";
}

.asc a:after {
  content: "\00a0\f0d7";
}

ul.title-list {
  margin: 0;
}

.title-list li {
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
}

#item-images {
  overflow: hidden;
  margin-bottom: 18px;
  margin-right: -10px;
}

.fullsize {
  margin-right: 10px;
}

#item-image img {
  width: 100%;
}

.items.show h3 {
  margin-bottom: 0.75em;
}

/* Items Classes*/
.element {
  overflow: hidden;
  clear: both;
  margin-bottom: 1.5em;
}

.browse .item {
  border: 1px solid black;
  width: 224px;
  height:336px;
  display:inline-block;
  vertical-align: top;
  position: relative;
  overflow:hidden;
  /* for different web browsers */
	background: -webkit-linear-gradient(top, #fff, #ffffff);
	background: -moz-linear-gradient(top, #fff, #ffffff);
	background: -o-linear-gradient(top, #fff, #ffffff);
	background: -ms-linear-gradient(top, #fff, #ffffff);
	background: linear-gradient(top, #fff, #ffffff);
}

.item-pagination {
  clear: both;
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 18px;
}

.item-pagination a {
  text-decoration: none;
  font-weight: bold;
  float: left;
}

.item-pagination .next a {
  float: right;
  text-align: right;
}

.item .tags {
  clear: left;
  margin-left: 216px;
}

.item .item-file a {
  display: block;
  height: 9em;
}
.item .item-file a img {
  height: 100%;
  width: auto;
}

.item h2 {
  margin-top: 0;
}

.item.record {
	vertical-align: top;
}

.item.record p a{
	white-space: nowrap;
}
/* Tags Classes */
.tags li {
  display: inline;
}

/* Tag Clouds */
.hTagcloud ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.hTagcloud li {
  display: inline;
  margin-right: 3px;
}

.popular a {
  font-size: 120%;
}

.v-popular a {
  font-size: 140%;
}

.vv-popular a {
  font-size: 180%;
}

.vvv-popular a {
  font-size: 220%;
}

.vvvv-popular a {
  font-size: 260%;
}

.vvvvv-popular a {
  font-size: 300%;
}

.vvvvvv-popular a {
  font-size: 320%;
}

.vvvvvvv-popular a {
  font-size: 340%;
}

.vvvvvvvv-popular a {
  font-size: 360%;
}

/* @end */
/*Code modification by John starts here */
/* @group ----- Items/Browse ----- */
.browse .item h2,
.browse .item-meta .item-img {
  display: block;
  overflow: hidden;
  
}
@media only screen and (max-width: 767px) {
  .browse .item h2,
  .browse .item-meta .item-img {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .browse .item h2,
  .browse .item-meta .item-img {
    width: 172px;
  }
}
@media only screen and (max-width: 767px) {
  .browse .item h2,
  .browse .item-meta .item-img {
    width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .browse .item h2,
  .browse .item-meta .item-img {
    width: 420px;
  }
}

.browse .item h2 {
  /*margin-left: 5px;
  margin-bottom: 5px;
  height:50px;
  font-size:small;*/
	height:50px;
	padding: 11px 10px;
	position: relative;
	display:block;
	font-family: Arial,Helvetica,sans-serif;
	text-align:left;
	font-size:14px;
	text-decoration:none;
	resize:both;
	#SSoverflow:a#to;
}

.browse .item-meta .item-img {
  margin-right: 0;
 }

.browse .item-img img {
  width:100%;
  height:200px;
  -moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
.browse .item .item-img img:hover{
	-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
	
}
.browse .item-meta {
  
}
@media only screen and (max-width: 767px) {
  .browse .item-meta {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .browse .item-meta {
    
  }
}
@media only screen and (max-width: 767px) {
  .browse .item-meta {
    
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .browse .item-meta {
    width: 100%;
  }
}
.browse .item-meta p:first-of-type {
  margin-top: 0;
}

.browse .item-meta > div {
  
  margin: 0;
  
}
@media only screen and (max-width: 767px) {
  .browse .item-meta > div {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .browse .item-meta > div {
    #width: 364px;
  }
}
@media only screen and (max-width: 767px) {
  .browse .item-meta > div {
    #width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .browse .item-meta > div {
    #width: 420px;
  }
}

.browse .item-meta .item-description {
  margin-bottom: 1.5em;
}
.browse .item-meta .item-description:only-of-type {
  margin-bottom: 0;
}
/*Code modification by John ENDS here */
#sort-links {
  float: right;
  list-style-type: none;
  padding: 0;
  display: block;
}
#sort-links ul {
  padding-left: 0;
}
#sort-links ul li {
  padding-left: 10px;
  display: inline-block;
}

#outputs {
  clear: both;
}

.item-img a {
  display: block;
}

/* @end */
/* @group ----- Items/Search ----- */
.field {
  margin-bottom: 1.5em;
}

.search-entry select {
  margin-bottom: 0.75em;
}

.search-entry input[type=text] {
  display: inline-block;
}

.remove_search {
  text-indent: -9999px;
  width: 18px;
  position: relative;
  height: 18px;
  color: #666;
}
.remove_search:after {
  content: "\f00d";
  font-family: "FontAwesome";
  text-indent: 0;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  line-height: 18px;
}

/* @end */
/*Code modification by John starts here */
/* @group ----- Collections/Browse ----- */
.browse .collection,
.browse .exhibit {
	width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    overflow: hidden;
	height:300px;
    margin: 9px;
    position: relative;
    display: block;
    text-align: left;
	/* for different web browsers */
	background: -webkit-linear-gradient(top, #fff, #2f5f63);
	background: -moz-linear-gradient(top, #fff, #2f5f63);
	background: -o-linear-gradient(top, #fff, #2f5f63);
	background: -ms-linear-gradient(top, #fff, #2f5f63);
	background: linear-gradient(top, #fff, #2f5f63);

	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	  
}
.collection .image:hover,
.exhibit .image:hover{
	border: 5px solid #000;
	border-radius: 50%;
}
.browse .collection .view-items-link,
.browse .exhibit .view-items-link {
  margin-bottom: 2.25em;
}
.browse .collection h3,
.browse .exhibit h3 {
  margin: 0;
}

.collection .element-text p:only-child {
  margin-bottom: 0;
}

.collection .image,
.exhibit .image {
	display: block;
  
	margin: 0 1.5em 1.5em 9px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
  
}

.collection .image img,
.exhibit .image img {
  height: 10.5em;
 }

.browse .collection .br_header,
.browse .exhibit .br_header {
	padding: 11px 10px;
	position: relative;
	display:block;
	font-family: Arial,Helvetica,sans-serif;
   	text-align:left;
	font-size:16px;
}

.browse .collection .image,
.browse .exhibit .image {
  /*margin-right: 0;
  float: left;
  text-align: center;
  height: 10.5em;
  */
	width: 200px;
	height: 200px;
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0 0 2px 0;
	float:center;
}
.browse .collection .image img,
.browse .exhibit .image img {
	
	
	display: inline;
    width: 200px;
    height: 200px;
    top: 3.5px;
    left: -10px;
    position: absolute;
}

.collection-meta {
	display:inline-block;
}
@media only screen and (max-width: 767px) {
  .collection-meta {
    margin: 0;
  }
}


.collection-description p:first-of-type,
.view-items-link:only-child {
	margin-top: 0.75em;
	width:100%;
	display: block;
	position: relative;
	overflow: hidden;
	padding: 11px 10px;
	
}
.view-items-link{
	width:100%;
	bottom:-20px;
	position:absolute;
	padding: 11px 10px;
	
	Color:white;
	font-size:16px;
}
.browse .collection .element {
  clear: none;
}

/* @end */
/* @group ----- Collections/Show ----- */
.collections .item-img {
  float: left;
  margin: 0 1.5em 0 0;
}
.collections .item-img a {
  display: block;
  height: 6em;
  border: 1px solid #ccc;
  padding: 2px;
}
.collections .item-img img {
  height: 100%;
  width: auto;
}

.collections .item {
  overflow: hidden;
  border-color: #ccc;
  border-top-width: 0.08333em;
  border-top-style: solid;
  padding-top: -0.08333em;
  margin-top: 1.5em;
}
/* Code modification by John ends here */

/* ---------- ADDED BY MICHAEL - CODE START - Item Page CSS ---------------------------------------------------------------- */
itemdiv {
	width: 80%;
    height: 50%;
    background: aqua;
    margin: auto;

}

div#itemLeft{
	padding: 10px;
	width: 40%;
    height: 500px;
    float: left;
	overflow: auto;
	overflow: -moz-scrollbars-vertical;
	overflow-y:scroll;
	border: solid;
	background: #EFEDE7;
	
}

div#itemRight{
	margin-left: 40%;
    height: 500px;
    background: #EFEDE7;
	border: solid;
}
div#itemRight img{
	border: 0;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	
}
div#3dBox{
	height:380px;
	display:block;
}
div#thumbnails{
	display:block;
	height:100px;
	;
	
}
div#thumbnails .item-file {
	display:inline-block;
}
div#thumbnails .item-file img{
	height:100px;
	padding:5px;
}

#itemRight h1 {
	width:370px;
}

#itemRight a {
	color:black;
	padding-left:10px;
	
}

iframe{
	width: 100%;
	height:370px;
}
div#tabs{
	clear:both;
}
<<<<<<< HEAD
div#3dBox img.image{
	margin-left:auto;
	margin-right:auto;
}
div#3dBox img {
=======

@media only screen and (max-width: 767px) {
  div#tabs {
    display:inline-block;
  }
}

div#3dBox img.thumb {
>>>>>>> 2642a6dd745e5407f238be7152aa381ba609d664
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
}
}
.items.show .element{
	margin-bottom: 0.1em;
	
}

=======
	
}


.items.show .element{
	margin-bottom: 0.1em;
	
}

.element-set h2 {
	display:none;
}
.items.show .element h3 {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 15px;
	display:inline-block;
}

.element .element-text{
	line-height: 18px;
	font-size: 15px;
	display:inline-block;
}

/* Mobile Css Changes by Michael*/

/* Item Page Mobile*/
@media only screen and (max-width: 767px) {
  div#itemLeft {
    width: 100%;
    height:100%;
  }
}

@media only screen and (max-width: 767px) {
  div#itemRight {
    width: 100%;
    margin-left:0;
    display:inline-block;
  }
}

/* Browse Page Mobile*/

@media only screen and (max-width: 767px) {
  .browse .item {
    width: 195px;
  }
}

/* Collection Page Mobile*/

@media only screen and (max-width: 767px) {
  .browse .collection {
    width: 97%;
  }
}

/* Exhibits Page Mobile*/

@media only screen and (max-width: 767px) {
  .browse .collection, .browse .exhibit {
    width: 97%;
  }
}

/* Home Page Mobile*/

@media only screen and (max-width: 767px) {
  .well {
    width: 97%;
  }
}

@media only screen and (max-width: 767px) {
  #featured-collection {
    width: 97%;
  }
}

@media only screen and (max-width: 767px) {
  #featured-exhibit {
    width: 97%;
  }
}

@media only screen and (max-width: 767px) {
  #featured-item {
    width: 97%;
  }
}
/* ----------------------------- ADDED BY MICHAEL - CODE END ---------------------------------------------------------------- */




/* @end */
/* @group ----- Search Results ----- */
#search-results + .pagination {
  margin-top: 2.25em;
}

#search-results td {
  vertical-align: top;
}

#search-results .image {
  float: left;
  height: 6em;
  margin: 0 1.5em 0 0;
}
#search-results .image img {
  height: 100%;
  width: auto;
}

#item-filters ul, #search-filters ul {
  padding-left: 0;
  list-style-type: none;
}
#item-filters ul > li, #search-filters ul > li {
  display: inline-block;
}
#item-filters ul > li:after, #search-filters ul > li:after {
  content: " \00B7";
  margin: 0 10px 0 5px;
}
#item-filters ul > li:last-child:after, #search-filters ul > li:last-child:after {
  content: "\00A0";
}
#item-filters ul li ul, #search-filters ul li ul {
  display: inline;
}
#item-filters ul li ul li, #search-filters ul li ul li {
  display: inline-block;
}
#item-filters ul li ul li:after, #search-filters ul li ul li:after {
  content: ", ";
  margin: 0;
}
#item-filters ul li ul li:last-child:after, #search-filters ul li ul li:last-child:after {
  content: "";
}

/* @end */
/* @group ----- Footer ----- */
footer {
  clear: both;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 70%;
  overflow: hidden;
  margin-top: 1.5em;
}
footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  footer {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  footer {
    width: 100%;
  }
}
footer a {
  text-decoration: none;
}
footer .navigation {
  font-weight: bold;
margin-left:auto;
margin-right:auto;
}
footer .navigation li {
  display: inline;
}
footer .navigation li:after {
  content: " \00B7";
  margin: 0 10px 0 5px;
}
footer .navigation li:last-child {
  margin: 0;
}
footer .navigation li:last-child:after {
  content: "\00A0";
  display: none;
}
footer .navigation a {
  color: #000;  /*c356*/
  white-space: nowrap;
  
}
footer nav + p {
  text-align: center
}

#footer-text {
  text-align:center;
  width: 48%;
}

/* @end */
/* @group ----- Exhibit Builder ----- */
.pagination + .exhibit {
  border-top: 1px solid #eee;
}

#exhibit-pages {
  width: 220px;
  display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #exhibit-pages {
    width: 172px;
  }
}
#exhibit-pages h4 {
  font-family: arial, sans-serif;  /* c356 */
  font-weight: normal;
  text-transform: uppercase;
}
#exhibit-pages a {
  text-decoration: none;
}
#exhibit-pages > ul {
  margin-left: 0;
  border-top-width: 0.08333em;
  border-top-style: solid;
  padding-top: 1.41667em;
  border-color: #eee;
  padding-left: 0;
  list-style-type: none;
}
#exhibit-pages > ul > li {
  border-bottom-width: 0.08333em;
  border-bottom-style: solid;
  padding-bottom: 1.41667em;
  border-color: #eee;
  margin-bottom: 1.5em;
}
#exhibit-pages ul li > ul {
  padding-left: 1.5em;
  margin-left: 0;
}
#exhibit-pages ul li > ul li {
  text-indent: -1.5em;
}
#exhibit-pages ul li > ul li:before {
  content: "\2014";
}
#exhibit-pages li {
  list-style-type: none;
  margin-left: 0;
}
#exhibit-pages .current {
  font-weight: bold;
}
#exhibit-pages .current > *:not(a) {
  font-weight: normal;
}
#exhibit-pages > ul > li:not(.parent) ul {
  display: none;
}
#exhibit-pages > ul > li.current ul {
  display: block;
}

#exhibit-pages ul ul {
  margin: 0;
}

.exhibits #content > h1:first-of-type,
#exhibit-blocks,
#exhibit-page-navigation,
.exhibits.summary #primary {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-left: 0;
  padding-right: 20px;
  margin-left: 0;
}
@media only screen and (max-width: 767px) {
  .exhibits #content > h1:first-of-type,
  #exhibit-blocks,
  #exhibit-page-navigation,
  .exhibits.summary #primary {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .exhibits #content > h1:first-of-type,
  #exhibit-blocks,
  #exhibit-page-navigation,
  .exhibits.summary #primary {
    width: 556px;
  }
}
@media only screen and (max-width: 767px) {
  .exhibits #content > h1:first-of-type,
  #exhibit-blocks,
  #exhibit-page-navigation,
  .exhibits.summary #primary {
    width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .exhibits #content > h1:first-of-type,
  #exhibit-blocks,
  #exhibit-page-navigation,
  .exhibits.summary #primary {
    width: 420px;
  }
}

.exhibit-page-nav a:hover,
.exhibit-page-nav a:active,
.exhibit-page-nav .current a {
  background: #ff8000;
}

.exhibit-pagination .next a {
  float: right;
  text-align: right;
}

#exhibit-page-navigation {
  clear: none;
  margin: 3em 0 1.5em;
}

.exhibit .description,
.exhibit .description ~ * {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 520px;
}
@media only screen and (max-width: 767px) {
  .exhibit .description,
  .exhibit .description ~ * {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .exhibit .description,
  .exhibit .description ~ * {
    width: 412px;
  }
}
@media only screen and (max-width: 767px) {
  .exhibit .description,
  .exhibit .description ~ * {
    width: 300px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .exhibit .description,
  .exhibit .description ~ * {
    width: 420px;
  }
}
.exhibit .description p:first-of-type,
.exhibit .description ~ * p:first-of-type {
  margin-top: 0.75em;
}

.exhibit .description ~ * {
  display: block;
  margin: 1.5em auto;
  padding: 0 40px 0 80px;
  float: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.exhibit-items .download-file:last-child {
  margin-bottom: 1.5em;
}

/* @end */
/* @group ----- Other plugin styles ----- */
#collection-tree {
  margin-left: auto;
  margin-right: auto;
}

#recaptcha_area input {
  display: inline;
}

/* @end */
@media screen and (max-width: 768px) {
  /* @group ----- Generic HTML elements ----- */
  input[type=text], input[type=password], textarea {
    width: 100%;
    display: block;
  }

  /* @end */
  /* @group ----- Global selectors ----- */
  #search-container {
    clear: both;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 0em;
  }

  /* @end */
  /* @group ----- Header ----- */
  #site-title {
    width: 100%;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  #primary-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    zoom: 1;
  }
  #mobile-nav:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
/*********************Start Eidted by EMEL****************************/
@media only screen and (max-width: 768px) and (min-width: 768px) and (max-width: 959px){
  #mobile-nav {
    width: 50%;
  }
  #home #secondary{
    width: 100%;
  }
  #search-container{
    width: 40%;
  }
}
@media only screen and (max-width: 768px) and (max-width: 767px) {
  #mobile-nav {
    width: 300px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 480px) and (max-width: 767px) {
  #mobile-nav {
    width: 420px;
  }
}
/*********************End Eidted by EMEL****************************/

@media screen and (max-width: 768px) {
  #mobile-nav ul {
    position: absolute;
    z-index: 199;
    background: #fafafa;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-left: 0;
    margin: 0;
  }
  #mobile-nav li {
    text-align: left;
    display: block;
    overflow: hidden;
    width: 100%;
  }
  #mobile-nav a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-width: 1px 1px 0 1px;
  }
  #mobile-nav a:hover {
    background: #fff;
  }
  #mobile-nav > a:first-child {
    background: #fafafa;
    cursor: pointer;
  }
  #mobile-nav li.current a {
    background: #fff;
    color: #ff8000;
  }
  #mobile-nav li ul {
    position: relative;
  }
  #mobile-nav li ul a:before {
    content: "-- ";
  }
  #mobile-nav li ul ul a:before {
    content: "---- ";
  }

  /* @end */
  /* @group ----- Footer ----- */
  footer .navigation {
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 1.5em;
  }

  /* @end */
  /* @group ----- Home ----- */
  #home #primary, #home #secondary {
    padding: 0;
    max-width: 100%;
  }

  #home #primary > div:last-of-type {
    border-bottom: 1px solid #ccc;
  }

  /* @end */
  /* @group ----- Items/Browse ----- */
  .browse .item img {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }

  .browse .item.record h2 {
    margin-bottom: 0.75em;
  }

  .browse .item-meta .item-img {
    width: auto;
    float: left;
    margin: 0 1.5em 0 0;
  }
  .browse .item-meta .item-img img {
    margin-top: 0em;
  }

  .browse .item {
    padding: 1.5em 0;
  }

  .browse .item-meta > div {
    float: none;
  }

  #sort-links {
    float: left;
  }

  /* @end */
  /* @group ----- Exhibits/Show ----- */
  .exhibit {
    clear: both;
  }

  .exhibit .description {
    float: none;
  }

  .exhibit .description ~ * {
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* @end */
  /* @group ----- Exhibits/Show ----- */
  #exhibit-pages {
    width: 100%;
  }

  /* @end */
}

/* ----------------------------- ADDED BY EMEL - CODE START ---------------------------------------------------------------- */

#primary #featured-exhibit{width: 48%;     float: left;     margin-right: 10px; background: #A6192E !important; margin-top:50px;}
#primary-nav 
{
  /*width: 105% !important; 
  margin-left: -40px !important; edited by Emel */ 
  margin: 0 auto 0 80px;
  /*background: #A6192E !important; edited by Emel*/}
#search-container{
  bottom:2em;
  margin-top: -36px;

}
#search-container{ width:30% !important; /* Edited by Emel*/}
#search-container input[type=text]{width:50% !important; margin-bottom: 15px !important;}
#featured-item{background: #CAD1BA !important;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
#featured-collection,#featured-item,#featured-exhibit{
  margin: 10px;
  padding: 10px
}
.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
#search-container input[type="text"]{
  padding: 14.5px;
}
#primary-nav{
  float: right;
  margin: -95px auto 0 80px;
}
#site-title{
  width:15%;
  margin-left:75px;


}
header{
  width: 100%;
}
#primary-nav a{
  background: none;
  font-weight:bold;
  color: #000000;
}
#primary-nav .nav-item > a{
  border: none;
}
#primary-nav .nav-item:first-child > a{
  border-left: none;
}
#search-container input[type="text"], #search-container button{
  height: 32px;
}
#search-container button{
  background: none;
  border: 1px 1px 1px 0px;
}
#search-container input[type="text"] {
    padding: 8.5px;
}
#search-container button{
  color: #000000;
}
#search-container input[type="text"], #search-container button{
  background: #ffffff none repeat scroll 0 0
}
#search-container button::after{
  border: 1px solid #000000;
  border-left: none;}
.show-advanced.button::after{
	bottom:15px;
}
.show-advanced.button{
	border-left:none;
}
#primary-nav{
  margin-top: -80px;
  margin-right:55px;
}
#primary-nav a
{padding :10px 20px;
}
@media only screen and (min-width : 375px) and (max-width : 667px) { 
  #search-container{
    width: 100% !important;
  }
  #mobile-nav a{
    width: 75%
    margin-left:35px;
    }
  }

@media only screen and (min-width : 320px) and (max-width : 568px) {
   #search-container{
    width: 100% !important;
    margin-top: -65px;
  }
  #mobile-nav a{
    width: 75%
    margin-left:35px;
    }
    #site-title{
      width: 40%;
    }
  }
  .exhibit.even{
  text-align: center;
}
.browse .collection .image, .browse .exhibit .image{
  margin-left: 20px;
  width: 220px;
  height: 220px;
}
.description p{
  margin-left: 85px;
}
.browse .collection .image img, .browse .exhibit .image img{
  left: 0px;
}
.exhibit.odd{
  text-align: center;
}
@media only screen and (min-width: 800px) and (max-width: 1280px) {
  #primary-nav {
    margin-right: -100px;
    margin-top: -65px;
}
  #home #secondary{
    width: 100%;
  }
  #search-container{
    right: 2.2em;
  }
} 
@media screen and (min-width: 980px) and (max-width:1024px){
   #primary-nav {
    margin-right: 25px;
 }
}
@media (min-width: 1168px) and (max-width:1280px) {
  #primary-nav{
    margin-right: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px){
  #site-title {
    margin-top: -25px;
    }
  #search-container {
    margin-left: 21px;
    margin-top: 20px;
}


/* ------------------------------ ADDED BY EMEL CODE - CODE FINISH -----------------------------------------------------------*/