/* Overrides for the .image class */
.jcarousel-wrapper{
	height:100%;
	padding:0px;
	padding-bottom:0px;
	overflow:hidden;
}
div.jcarousel-wrapper a.image{
	
	
    border-bottom: inherit;
	display:block;
	overflow:hidden;
	width:100%;
	margin-bottom:0px;
	padding:0px;
	
}

.jcarousel-wrapper a.image{
	
	margin:0px;
	padding:0px;

}
div.image{
	margin:0px;
	padding:0px;
	width:auto;
	height:100%;
	margin-bottom:0px;
	
	
}
/*** Edited by Emel***/
.jcarousel-wrapper{
margin-top:-47px;
}