.layout-gallery .gallery .exhibit-item, 
.layout-gallery .gallery .exhibit-item:nth-of-type(2n) {
    width: 24%;
    margin-right: 1.25%;
}

.layout-gallery .gallery .exhibit-item:nth-of-type(4n) {
    margin-right: 0;
}

.layout-gallery .gallery.with-showcase {
    margin-bottom: .5em;
}

.layout-gallery .gallery.with-showcase .exhibit-item {
    width: 49%;
    margin-right: 2%;
}

.layout-gallery .gallery.with-showcase .exhibit-item:nth-of-type(2n) {
    margin-right: 0;
}

.layout-gallery .gallery-showcase,
.layout-gallery .gallery.with-showcase,
.layout-gallery .gallery.left, 
.layout-gallery .gallery.right {
    width: 49%;
}

.layout-gallery .gallery-showcase.left,
.layout-gallery .gallery.left {
    float: left;
    margin-right: 2%;
}

.layout-gallery .gallery-showcase.right,
.layout-gallery .gallery.right {
    float: right;
    margin-left: 2%;
}

.layout-gallery a {
    border-bottom: 0;
}

.layout-gallery .exhibit-item-link *,
.layout-gallery .download-file * {
    display: block;
    max-width: 100%;
    margin: 0 auto 5px;
}

.layout-gallery .exhibit-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.25%;
}

.layout-gallery .gallery-showcase.right.with-left {
    margin-left: 0;
}

.layout-gallery .gallery-showcase.left.with-right {
    margin-right: 0;
}

.layout-gallery .gallery.with-showcase.left {
    clear: left;
}

.layout-gallery .gallery.with-showcase.right {
    clear: right;
}

.layout-gallery .gallery.with-showcase img {
    max-width: 100%;
}

.layout-gallery .exhibit-item-caption p {
    margin: 0 0 2% 0;
    clear: both;
}

.layout-gallery .captions-center .exhibit-item-caption {
    text-align: center;
}

.layout-gallery .captions-left .exhibit-item-caption {
    text-align: left;
}

.layout-gallery .captions-right .exhibit-item-caption {
    text-align: right;
}
.layout-gallery .exhibit-item-link *, .layout-gallery .download-file *{
    border: 2px solid #000000;
}